<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="asterisk_executable" value="/usr/sbin/asterisk"/>
    <add key="pbx_username" value="asterisk"/>
    <add key="pbx_password" value=""/>
    <add key="PostgresServer" value="lrgs2"/>
    <add key="PostgresDatabase" value="timeseries"/>
    <add key="PostgresUser" value="hydromet"/>
    <add key="LocalConfigurationDataPath" value="T:\PN6200\Hydromet\ConfigurationData"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
