[Unit]
Description=Hydromet web services

[Service]
WorkingDirectory=/home/hydromet/bin/cgi/api
ExecStart=/bin/dotnet /home/hydromet/bin/cgi/api/PiscesAPI.dll
Restart=always
# Restart service after 10 seconds if dotnet service crashes
RestartSec=10
SyslogIdentifier=hydromet-webservice
User=apache
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment="ConnectionString=server=lrgs1;database=timeseries;user id=web_user"
Environment=PiscesAPIDatabase=postgresql

[Install]
WantedBy=multi-user.target

