<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InternalNetworkPrefix" value="140."/>
    <add key="BoiseInstantCGI" value="https://www.usbr.gov/pn-bin/webdaycsv.pl"/>
    <add key="BoiseInternalDailyCGI" value="http://pnhyd0.pn.usbr.gov/~dataaccess/webarccsv.com"/>
    <add key="PostgresServer" value="lrgs1"/>
    <add key="smtp" value="smtpi"/>
    <add key="email_reply" value="hydromet@usbr.gov"/>

    <!--PostgresUser below is for linux only -->
    <add key="PostgresUser" value="app_user"/>

    <add key="LocalConfigurationDataPath" value="\\ibr1pnrfp01\common\PN6200\Hydromet\ConfigurationData"/>


  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
