<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HydrometTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings file="hydromet-tools-private.config">

    <add key="ProcessFlags" value="false" />
    <add key="ProcessAlarms" value="false" />
    
    <add key="outgoing" value="c:\hydromet\edits" />
    <add key="AgriMetCropOutputDirectory" value="\\ibr1pnrfp01\common\PN6200\Agrimet\Chart" />

    <add key="PostgresUser" value="" />
    <add key="PostgresTableOwner" value="hydromet" />   <!-- owner for new tables -->
    <add key="PostgresTableReader" value="grp_readonly" />   <!-- allow readonly access for new tables -->
    <add key="idahoPowerURL" value="http://www.idahopower.com/OurEnvironment/WaterInformation/StreamFlow/GetStreamData.cfm?stationID=__stationid__&amp;days=__days__&amp;period=__period__" />
    
    <add key="piscesFolder" value="hydromet" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="InternalNetworkPrefix" value="140." />
    <add key="LocalConfigurationDataPath" value="c:\HydrometTools\cfg" />
    <add key="RatingTablePath" value="http://lrgs1.pn.usbr.gov/rating_tables/" />
   

  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <HydrometTools.Properties.Settings>
      <setting name="DailyGraphProperties" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>graph 1, 1997 YAKSYS AF, 2011 YAKSYS AF, 2011 KEE AF</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="InstantGraphProperties" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>graph 1 :PARW Q,PAR FB, sncw qc, rscw qc</string>
          </ArrayOfString>
        </value>
      </setting>
    </HydrometTools.Properties.Settings>
  </userSettings>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
