version: 1.0.{build}
## AppVeyor CI for Windows testing

branches:
  only:
    - master

install:
  - cmd: appveyor DownloadFile https://dist.nuget.org/win-x86-commandline/latest/nuget.exe 
  
before_build:
  - cmd: nuget restore Pisces.sln

configuration: Debug
platform: Any CPU 

build:
  project: Pisces.sln
  verbosity: minimal
  
test:
  assemblies:
    ## Test the libraries
    - Core\bin\Debug\Reclamation.Core.dll
    - TimeSeries\bin\Debug\Reclamation.TimeSeries.dll

  categories:
    except:
    - DatabaseServer
    - Internal
