<appSettings>
  <add key="LocalConfigurationDataPath" value="T:\PN6200\Hydromet\ConfigurationData"/>
  <add key="LocalConfigurationDataPath2" value="C:\Users\KTarbet\Documents\project\Hydromet\ConfigurationData"/>
  <add key="TestDataPath" value="C:\Users\KTarbet\Desktop\PiscesTestData\data"/>
<add key="PostgresServer" value="127.0.0.1"/>
<add key="InternalNetworkPrefix" value="140."/>

<add key="TestDataPath" value="C:\PiscesTestData\data"/>
</appSettings> 
