<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Reclamation.TimeSeries.Graphing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Reclamation.TimeSeries.Graphing.Properties.Settings>
            <setting name="SeriesColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Red</string>
                        <string>Green</string>
                        <string>Blue</string>
                        <string>Black</string>
                        <string>Orange</string>
                        <string>Aquamarine</string>
                        <string>Beige</string>
                        <string>DarkGreen</string>
                        <string>Purple</string>
                        <string>Aqua</string>
                        <string>Bisque</string>
                        <string>BlanchedAlmond</string>
                        <string>BlueViolet</string>
                        <string>Brown</string>
                        <string>BurlyWood</string>
                        <string>CadetBlue</string>
                        <string>Chartreuse</string>
                        <string>Chocolate</string>
                        <string>Coral</string>
                        <string>CornflowerBlue</string>
                        <string>Cornsilk</string>
                        <string>Crimson</string>
                        <string>Cyan</string>
                        <string>DarkBlue</string>
                        <string>DarkCyan</string>
                        <string>DarkGoldenrod</string>
                        <string>DarkGray</string>
                        <string>DarkKhaki</string>
                        <string>DarkMagenta</string>
                        <string>AntiqueWhite</string>
                        <string>DarkOliveGreen</string>
                        <string>DarkOrange</string>
                        <string>DarkOrchid</string>
                        <string>DarkRed</string>
                        <string>DarkSalmon</string>
                        <string>DarkSeaGreen</string>
                        <string>DarkSlateBlue</string>
                        <string>DarkSlateGray</string>
                        <string>DarkTurquoise</string>
                        <string>DarkViolet</string>
                        <string>DeepPink</string>
                        <string>DeepSkyBlue</string>
                        <string>DimGray</string>
                        <string>DodgerBlue</string>
                        <string>Firebrick</string>
                        <string>FloralWhite</string>
                        <string>ForestGreen</string>
                        <string>Fuchsia</string>
                        <string>Gainsboro</string>
                        <string>GhostWhite</string>
                        <string>Gold</string>
                        <string>Goldenrod</string>
                        <string>Gray</string>
                        <string>Green</string>
                        <string>GreenYellow</string>
                        <string>Honeydew</string>
                        <string>HotPink</string>
                        <string>IndianRed</string>
                        <string>Indigo</string>
                        <string>Ivory</string>
                        <string>Khaki</string>
                        <string>Lavender</string>
                        <string>LavenderBlush</string>
                        <string>LawnGreen</string>
                        <string>LemonChiffon</string>
                        <string>LightBlue</string>
                        <string>LightCoral</string>
                        <string>LightCyan</string>
                        <string>LightGoldenrodYellow</string>
                        <string>LightGray</string>
                        <string>LightGreen</string>
                        <string>LightPink</string>
                        <string>LightSalmon</string>
                        <string>LightSeaGreen</string>
                        <string>LightSkyBlue</string>
                        <string>LightSlateGray</string>
                        <string>LightSteelBlue</string>
                        <string>LightYellow</string>
                        <string>Lime</string>
                        <string>LimeGreen</string>
                        <string>Linen</string>
                        <string>Magenta</string>
                        <string>Maroon</string>
                        <string>MediumAquamarine</string>
                        <string>MediumBlue</string>
                        <string>MediumOrchid</string>
                        <string>MediumPurple</string>
                        <string>MediumSeaGreen</string>
                        <string>MediumSlateBlue</string>
                        <string>MediumSpringGreen</string>
                        <string>MediumTurquoise</string>
                        <string>MediumVioletRed</string>
                        <string>MidnightBlue</string>
                        <string>MintCream</string>
                        <string>MistyRose</string>
                        <string>Moccasin</string>
                        <string>NavajoWhite</string>
                        <string>Navy</string>
                        <string>OldLace</string>
                        <string>Olive</string>
                        <string>OliveDrab</string>
                        <string>OrangeRed</string>
                        <string>Orchid</string>
                        <string>PaleGoldenrod</string>
                        <string>PaleGreen</string>
                        <string>PaleTurquoise</string>
                        <string>PaleVioletRed</string>
                        <string>PapayaWhip</string>
                        <string>PeachPuff</string>
                        <string>Peru</string>
                        <string>Pink</string>
                        <string>Plum</string>
                        <string>PowderBlue</string>
                        <string>RosyBrown</string>
                        <string>RoyalBlue</string>
                        <string>SaddleBrown</string>
                        <string>Salmon</string>
                        <string>SandyBrown</string>
                        <string>SeaGreen</string>
                        <string>SeaShell</string>
                        <string>Sienna</string>
                        <string>Silver</string>
                        <string>SkyBlue</string>
                        <string>SlateBlue</string>
                        <string>SlateGray</string>
                        <string>Snow</string>
                        <string>SpringGreen</string>
                        <string>SteelBlue</string>
                        <string>Tan</string>
                        <string>Teal</string>
                        <string>Thistle</string>
                        <string>Tomato</string>
                        <string>Turquoise</string>
                        <string>Violet</string>
                        <string>Wheat</string>
                        <string>WhiteSmoke</string>
                        <string>Yellow</string>
                        <string>YellowGreen</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SeriesWidth" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1</string>
                        <string>2</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Reclamation.TimeSeries.Graphing.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
