<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PostgresServer" value="140.218.6.20" />
    <add key="TimeSeriesDatabaseName" value="timeseries" />
    <add key="PostgresUser" value="hydromet"/>

    <add key="LocalConfigurationDataPath" value="\\ibr1pnrfp001\pndata\PN6200\Hydromet\ConfigurationData" />
  </appSettings>
</configuration>
