<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PostgresServer" value="lrgs1" />
    <add key="PostgresDatabase" value="timeseries" />
    <add key="PostgresUser" value="hydromet"/>
    <add key="InternalNetworkPrefix" value="140."/>
    <add key="LocalConfigurationDataPath" value="\\ibr1pnrfp001\pndata\PN6200\Hydromet\ConfigurationData" />
  </appSettings>
</configuration>
