<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings file="Private.config">
    <add key="idahoPowerPath" value="V:\PN6200\Hydromet\Data\idahopower"/>
    <add key="UrgwomForecastMonths" value="Mar,Apr"/>
    <add key="UrgwomBaseLine" value="SHARP_MRM_Forecast-APR-50pct-AOP-BASELINE.xlsx"/>
    <add key="UrgsimPath" value="http://www.usbr.gov/pn/hydromet/urgsim/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="PostgresTableOwner" value="hydromet"/>
    <add key="incoming" value="c:\temp\incoming"/>
    <add key="outgoing" value="c:\temp\outgoing"/>

  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
