<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="PostgresTableOwner" value="hydromet" />
    <add key="incoming" value="c:\temp\incoming" />
    <add key="outgoing" value="c:\temp\outgoing" />
    <add key="piscesFolder" value="hydromet" />
    <add key="LocalConfigurationDataPath" value="C:\Users\KTarbet\Documents\project\Pisces\Applications\cfg" />
    <add key="LocalConfigurationDataPath2" value="C:\HydrometTools\cfg" />
    <add key="PostgresServer" value="127.0.0.1" />
    <add key="PostgresUser" value="test" />
    <add key="PostgresPassword" value="test" />
    <add key="InternalNetworkPrefix" value="140.218" />
    <add key="TestDataPath" value="C:\PiscesTestData" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RatingTablePath" value="http://lrgs1.pn.usbr.gov/rating_tables/" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AwdbWebServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AwdbWebServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wcc.sc.egov.usda.gov/awdbWebService/services" binding="basicHttpBinding" bindingConfiguration="AwdbWebServiceSoapBinding" contract="Nrcs.AwdbWebService" name="AwdbWebServiceImplPort" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>