<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="3.7.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net40" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
</packages>