<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BoiseInternalDailyCGI" value="http://pnhyd0.pn.usbr.gov/~dataaccess/webarccsv.com"/>
    <add key="BoiseDailyCGI" value="http://www.usbr.gov/pn-bin/webarccsv.pl"/>
    <add key="LocalConfigurationDataPath" value="V:\PN6200\Hydromet\ConfigurationData"/>
  </appSettings>
</configuration>
