<!DOCTYPE html>
<!-- template-v2015  -->
<!--[if lte IE 7]><html class="no-js old-ie lte-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 8]><html class="no-js old-ie lte-ie8 lte-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]>--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->

<head>
    <!-- Head Content  -->
    <meta charset="utf-8">
    <!--[if gt IE 8 ]-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" /><!--<![endif]-->
    <title> Bureau of Reclamation| Web services</title>
    <meta name="Description" content="PISCES Web Services" />
    <meta name="Keywords" content="Department of the Interior, Bureau of Reclamation" />
    <meta name="author" content="Bureau of Reclamation" />
    <meta name="publisher" content="Bureau of Reclamation" />
    <meta name="created" content="20150101" />
    <meta name="expires" content="Never" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Styles -->
    <link rel="stylesheet" href="https://www.usbr.gov/css/main.min.css" />
    <!-- Modernizr -->
    <script src="https://www.usbr.gov/js/lib/modernizr.js"></script>
</head>

<body>
    <div class="MainContainer">
        <div class="Header" id="top" role="banner">
            <div class="Header-wrap container">
                <!-- Logo -->
                <a class="Header-logo" title="Reclamation Home"><img src="https://www.usbr.gov/img/logo-white.png" alt="U.S. Bureau of Reclamation: Managing Water in the West"></a>
            </div><!-- end container -->
        </div><!-- end Header -->
        <div class="Main" id="Main" role="main" style="background-image: url('images/bg-banner.jpg')">
            <!-- Additional wrapper for bottom background image
            <div class="Main-wrap" style="background-image: url('https://www.usbr.gov/img/bg-footer.jpg')">-->
            <div class="Main-content container">
                <div class="Explore">
                    <div class="Explore-titleBlock">
                        <font size="2.0">
                            <strong><p class="Explore-label">PISCES DATABASE WEB SERVICES</p></strong>
                        </font>
                    </div>
                    <ul class="Explore-list resetList">
                        <li class="Explore-section">
                            
                        <!-- PAYLOAD -->

                        </li>
                    </ul>
                </div>
            </div><!-- end Main-content -->    
        </div><!-- end Main-wrap -->
    </div><!-- end Main -->
    
    <div>
        <!-- Footer -->
        <div class="Footer" id="Footer" role="contentinfo">
            <div class="container">
                <br><br><br><br>
                <!-- Logo -->
                <a class="Footer-logo"><img src="https://www.usbr.gov/img/seal-white.png" alt="U.S. Department of the Interior-Bureau of Reclamation"></a>
            </div>
        </div>
    </div>
    
    <!-- jQuery -->    
    <script src="https://www.usbr.gov/js/lib/jquery.js"></script>
    <!-- Outlines -->    
    <script src="https://www.usbr.gov/js/components/outlines.js"></script>
    <!-- Mobile Navigation -->
    <script src="https://www.usbr.gov/js/components/navigation.js"></script>
    <!-- Responsive Tabs -->
    <script src="https://www.usbr.gov/js/lib/responsive-tabs.js"></script>
    <script src="https://www.usbr.gov/js/components/tabs.js"></script>
    <!-- Explore Accordion -->
    <script src="https://www.usbr.gov/js/components/explore.js"></script>
    <!-- Carousel -->
    <script src="https://www.usbr.gov/js/lib/carousel.js"></script>
    <script src="https://www.usbr.gov/js/components/carousel.js"></script>
    <!-- Left Navigation -->
    <script src="https://www.usbr.gov/js/components/left-nav.js"></script>
</body>
</html>";
