  <appSettings>
   
    <add key="LocalConfigurationDataPath" value="\\ibr1pnrfp001\pndata\pn6200\Hydromet\software\ConfigurationData"/>
    <add key="LocalConfigurationDataPath2" value="C:\aaUsers\KTarbet\Documents\project\Hydromet\ConfigurationData"/>
    <add key="TestDataPath" value="C:\Users\KTarbet\Desktop\PiscesTestData\data"/>
  <add key="PostgresServer" value="127.0.0.1"/>
  <add key="InternalNetworkPrefix" value="192.168.0.1"/>
  <add key="TestDataPath" value="C:\PiscesTestData\data"/>
  </appSettings> 