<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InternalNetworkPrefix" value="140." />

    <add key="HydrometServer" value="PNLinux" />
    <add key="PostgresServer" value="lrgs1" />
    <add key="smtp" value="smtpi" />
    <add key="email_reply" value="hydromet@usbr.gov" />
    <add key="PostgresServer" value="127.0.0.1" />
    <add key="PostgresUser" value="test" />
    <add key="PostgresPassword" value="test" />
    <!--PostgresUser below is for linux only -->
    <add key="LocalConfigurationDataPath" value="\\ibr1pnrfp01\common\PN6200\Hydromet\ConfigurationData" />


  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
