<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings >
    <add key="MySqlUser" value="ktarbet" />
    <add key="MySqlDatabase" value="timeseries" />
    <add key="MySqlServer" value="test" />
    <add key="LocalConfigurationDataPath" value="c:\rocha\HydrometServer" />

  </appSettings>
</configuration>
