<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings >
    <add key="MySqlUser" value="pisces" />
    <add key="MySqlDatabase" value="timeseries" />
    <add key="MySqlServer" value="vm" />
    <add key="LocalConfigurationDataPath" value="\\ibr1pnrfp001\pndata\PN6200\Hydromet\ConfigurationData" />
    
  </appSettings>
</configuration>
