<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
  <add key="output_dir" value="c:\temp\outgoing"/>
  <add key="credentials" value="C:\utils\usbr_app_user"/>
  <add key="imap_server" value="imap.gmail.com"/>
  <add key="log" value="c:\temp\imapx.log"/>
  <add key="email_folder" value="A&amp;B Irrigation" />
  
</appSettings>
</configuration>
