<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PostgresServer" value="lrgs1"/>
    <!--On Linux the username is specified in config file -->
    <add key="PostgresUserCropCharts" value="app_user"/>
    <add key="AgriMetCropOutputDirectory" value="\\ibr1pnrfp01\common\PN6200\Agrimet\"/>


    
    <add key="PostgresUser" value="hydromet"/>
    <add key="PostgresPassword" value="c:\utils\linux\ktarbet.postgres.txt"/>
    <add key="ProcessAlarms" value="true"/>
    <add key="PostgresDatabase" value="timeseries"/>
    <add key="PostgresTableOwner" value="hydromet"/>
    
    <add key="MySqlUser" value="hydromet"/>
    <add key="MySqlDatabase" value="timeseries"/>
    <add key="MySqlServer" value="localhost"/>
    
    <add key="incoming" value="c:\hydromet\incoming"/>
    <add key="outgoing" value="c:\hydromet\outgoing"/>
    <add key="piscesFolder" value="hydromet" />
    <add key="defaultProperties" value="program:agrimet"/>


    <add key="LocalConfigurationDataPath" value="C:\Users\KTarbet\Documents\project\Pisces\Hydromet\cfg"/>
    <add key="LocalConfigurationDataPath2" value="C:\projects\Pisces\Hydromet\cfg"/>
    <add key="InternalNetworkPrefix" value="140.218"/>


    <add key="smtp" value="smtpi.bor.doi.net"/>
    <add key="rating_email_reply" value="hydromet@usbr.gov"/>
    <add key="rating_email_to" value="hydromet@usbr.gov"/>
    <add key="InternalNetworkPrefix" value="140.218"/>


    <add key="pbx_server" value="dectalk" />
    <add key="pbx_username" value="hydromet"/>
    <add key="pbx_ssh_key" value="C:\utils\linux\ssh\dectalk_rsa_putty.ppk"/>
    <add key="pbx_callerid" value="Hydromet &lt;(208) 555-1111&gt;" />
    <add key="pbx_channel_prefix" value="SIP/pn/" />
    <add key="pbx_context" value="hydromet" />
    <add key="pbx_extension" value="main" />
    <add key="pbx_priority" value="1" />
    <add key="smtp" value="smtpi"/>
    <add key="email_reply" value="hydromet@usbr.gov"/>
    <add key="scp" value="c:\utils\pscp.exe" />










    <add key="ValidLoggerNetPcodes" value="WC,WC2,FB,FB2,WF,WF2,AU,BP,EA,EH,ETRS,ETOS,LW,OB,OBM,OBN,OBX,PC,PI,SI,SI2,SL,SP,SQ,SQ2,SV,SW,TP,TU,TUN,TUX,XSM2,XSM8,XSM20,XSM40,UI,WD,WDS,WG,WGD,WS,WS_mph,YE,Z1,ZA,ZB,ZC,BV,GH,GH1,GH2,QC,Q,QH,TV,SI1,OBM1,TU1,WS1,WSH1,WD1,WDS1,PC1"/>
    <add key="ValidLoggerNetSites" value="
    WCBI,
    SWBI,
    SWCI,
    AGTEST,
    ABEI,
    AFTY,
    AGKO,
    AHTI,
    ARAO,
    BANO,
    BATO,
    BEWO,
    BFGI,
    BKVO,
    BNDW,
    BOII,
    BRKO,
    CDAI,
    CEDC,
    CHAW,
    CHVO,
    CJDW,
    COVM,
    CRSM,
    CRVO,
    CSDU,
    DEFO,
    DENI,
    DRLM,
    DRPW,
    DTRO,
    DWNI,
    ECHO,
    ELMU,
    EURN,
    EFHW,
    FAFI,
    FALN,
    FOGO,
    FRNU,
    FTHI,
    GCDW,
    GDVI,
    GERW,
    GFRI,
    GOLW,
    HERO,
    HNTU,
    HOXO,
    HRFO,
    HRHW,
    HRMO,
    IMBO,
    KFLO,
    KFLW,
    KTBI,
    LAKO,
    LBRW,
    LEGW,
    LIBW,
    LIDW,
    LORO,
    MALI,
    MASW,
    MDFO,
    MNPI,
    MNTI,
    MRSO,
    MDXO,
    MDNO,
    MDTO,
    MDSO,
    MDEO,
    MWSO,
    NMPI,
    ODSW,
    OMAW,
    ONTO,
    PARO,
    PCYO,
    PELU,
    PICI,
    PLVU,
    PMAI,
    PNGO,
    POBO,
    PSFI,
    PSTI,
    RDBM,
    RPTI,
    RTHI,
    RXGI,
    SBMW,
    SIGM,
    SILW,
    SLWI,
    SPLI,
    TWFI,
    TFGI,
    WRDO,
    SUTU,
    DUCU,
    SNWU,
    SNSU,
    BLCU,
    LEWU,
    RDHU,
    LAKU,
    TRMU,
    LGIU,
    LGGU,
    DRFU,
    EVFU,
    HDRU,
    CRNU,
    SPFU,
    MURU,
    NEPU,
    FLOU,
    VECU,
    BUCU,
    PANU,
    PARU,
    CEDU,
    BRJU,
    BLOU,
    CYNU,
    STGU,
    GRFU,
    GREI,
    RRII,
    OSGI,
    TRTI,
    RGBI,
    SHLI,
    TERI,
    MDKI,
    ICHI,
    TABI,
    IFAI,
    ROBI,
    SUGI,
    HAMI,
    RRCI,
    ACKI,
    OWEI,
    CKVY,
    EVTY,
    GRTU,
    SPVU,
    MNRU,
    CSVU,
    TRPU,
    SCPU,
    LNDN,
    GRFU,
    DLT01,
    OTH01,
    OTH02,
    MTR01,
    ORM01,
    GUN01,
    FRT02,
    TLKC"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
