<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="incoming" value="c:\temp\incoming"/>
    <add key="outgoing" value="c:\temp\outgoing"/>
    <add key="LocalConfigurationDataPath" value="\\fileserver\common\PN6200\Hydromet\ConfigurationData"/>
  </appSettings>

</configuration>
