<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PostgresServer" value="lrgs1"/>
    <add key="PostgresDatabase" value="timeseries"/>
    <add key="PostgresUser" value="web_user"/>
    <add key="PostgresPassword" value="c:\utils\linux\web_user.postgres.txt"/>
    <add key="InternalNetworkPrefix" value="140."/>
    <add key="LocalConfigurationDataPath" value="\\ibr1pnrfp01\common\PN6200\Hydromet\ConfigurationData"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="NancyDiagnosticsPassword" value="*****"/>
    
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="LoggingLevel" value="0" />
    </switches>

  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
