<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="incoming" value="c:\hydromet\incoming"/>
    <add key="outgoing" value="c:\hydromet\outgoing"/>
    <add key="LocalConfigurationDataPath" value="\\ibr1pnrfp001\pndata\PN6200\Hydromet\ConfigurationData"/>
  </appSettings>
</configuration>
