<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings >
    <add key="MySqlUser" value="jrocha" />
    <add key="MySqlDatabase" value="timeseries" />
    <add key="MySqlServer" value="ibr3lcrsrv02.bor.doi.net" />
    <add key="LocalConfigurationDataPath" value="" />
  </appSettings>
</configuration>