<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings >
    <add key="MySqlUser" value="jrocha" />        <!-- jrocha for Denver DB | root or rwis_user for test DB -->
    <add key="MySqlDatabase" value="rwis" />     <!-- timeseries for Denver DB | mysql for test DB -->
    <add key="MySqlServer" value="test.water.usbr.gov"/>      <!-- "ibr3lcrsrv02.bor.doi.net" /> -->
    <add key="LocalConfigurationDataPath" value="~" />
  </appSettings>
</configuration>