<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings >
    <add key="MySqlUser" value="jrocha" />        
    <add key="MySqlDatabase" value="rwis" />     
    <add key="MySqlServer" value="test"/>
    <add key="MySqlPasword" value="good_password"/>
    <add key="LocalConfigurationDataPath" value="~" />
  </appSettings>
</configuration>