<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings >
    <add key="UrgwomForecastMonths" value="Mar,Apr"/>
    <add key="UrgwomBaseLine" value="SHARP_MRM_Forecast-APR-50pct-AOP-BASELINE.xlsx"/>
    <add key="UrgsimPath" value="https://www.usbr.gov/pn/hydromet/pisces/urgsim1/"/>
    <!-- HDB settings below   -->
    <add key="AGEN_ID_NAME" value="Bureau of Reclamation"/>
    <add key="SourceLegend" value="source data/not computed or manually edited/no overwrite flag set:PaleGreen,source data/not computed or manually edited/overwrite flag set:DarkSeaGreen,computed data from computation processor/not an aggregation from one interval to another:Yellow,computed data from computation processor/is an aggregation from one interval to another:Gold,computed data from computation processor/overwrite flag set:Goldenrod,RiverWare computed data/no overwrite flag set:PaleGoldenrod,RiverWare computed data/overwrite flag set:DarkKhaki,manually edited data/no overwrite flag set:SkyBlue,manually edited data/overwrite flag set:RoyalBlue,RiverWare manually edited data/no overwrite flag set:Aquamarine,RiverWare manually edited data/overwrite flag set:DarkTurquoise,missing data/not yet inserted:LightGray,Validation Failed!!! - Data outside of acceptable parameters:Red,RBase data not available - computations and undo unavailable:DarkOrange"/>
    <add key="ValidationLegend" value="null validation:Wheat,Validated:Green,Provisional:DeepSkyBlue"/>
    <add key="objectTypes" value="reservoir,snotel site,basin,stream gage,acoustic velocity meter,diversion,canal,hydro power plant,hydro plant unit,climate site,water quality site,pumping plant,wa account"/>
    <add key="instantIntervals" value="5,10,15,30,60"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="incoming" value="c:\temp\incoming"/>
    <add key="outgoing" value="c:\temp\outgoing"/>
    <add key="PostgresTableOwner" value="hydromet"/>
    
    <!-- owner for new tables -->


    <add key="LocalConfigurationDataPath" value="c:\hydromettools\cfg"/>
    <add key="LocalConfigurationDataPath2" value="c:\hydromettools\cfg"/>
    <add key="PostgresServer" value="127.0.0.1"/>
    <add key="InternalNetworkPrefix" value="140.218"/>


  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AwdbWebServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="965536" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.wcc.nrcs.usda.gov/awdbWebService/services" binding="basicHttpBinding" bindingConfiguration="AwdbWebServiceSoapBinding" contract="NoaaAWDB.AwdbWebService" name="AwdbWebServiceImplPort"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-5.1.6.417" newVersion="5.1.6.417"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Devart.Data.Oracle" publicKeyToken="09af7300eec23701" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-6.70.293.0" newVersion="6.70.293.0"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Mono.Security" publicKeyToken="0738eb9f132ed756" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-1.0.84.0" newVersion="1.0.84.0"/>


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
