<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalConfigurationDataPath" value="c:\hydromettools\cfg"/>
    <add key="piscesFolder" value="hydromet"/>
  <add key="PostgresTableOwner" value="hydromet"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>