127.0.0.1	localhost.localdomain	localhost.localdomain	localhost4	localhost4.localdomain4	localhost
::1	localhost.localdomain	localhost.localdomain	localhost6	localhost6.localdomain6	localhost
127.0.0.1	{{ host_name }}.pn.usbr.gov	{{ host_name}}	localhost.localdomain 	localhost
